# Maven
target/

# IDE
.idea/
*.iml
.settings/
.project
.classpath

# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# HPI build output
work/

# virtual machine crash logs
hs_err_pid*
replay_pid*
